ci:
  skip: [mypy, update-version, hassfest]

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.3
    hooks:
      - id: autoflake

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 8.0.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - Flake8-pyproject

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: .*_fr\.md$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - homeassistant-stubs
          - types-requests

  - repo: local
    hooks:
      - id: update-version
        name: update version
        exclude: .*
        always_run: true
        language: python
        entry: scripts/update-version.sh
      - id: hassfest
        name: hassfest (docker_image)
        exclude: .*
        always_run: true
        language: docker_image
        entry: --entrypoint "" --workdir /usr/src/homeassistant ghcr.io/home-assistant/hassfest:latest python -m script.hassfest --action validate --integration-path /src/custom_components/neviweb130/
