name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create ZIP archive
        run: |
          zip -r sinope-130-${GITHUB_REF_NAME}.zip custom_components/neviweb130

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: "Neviweb130 ${{ github.ref_name }}"
          draft: false
          prerelease: false

      - name: Upload ZIP asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: sinope-130-${GITHUB_REF_NAME}.zip
          asset_name: sinope-130-${GITHUB_REF_NAME}.zip
          asset_content_type: application/zip
